<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<title>Login | Surve Secure</title>
	<link rel="icon" href="../../Images/Icons/cam.png" type="image/gif" sizes="25x25">
	<link rel="stylesheet" type="text/css" href="login.css">
	
</head>
<body vlink="brown" alink="white">

	<main>
			
		<img src="../../Images/mur3.jpg" height="1000px" width="100%">

		<!-- <div> -->

			<a href="https://www.twitter.com" id="social"><i class="fa fa-twitter" style="padding-right:0.8em; padding-left: 0.8em;"></i></a>

			<a href="https://www.facebook.com" id="social" ><i class="fa fa-facebook" style="padding-right: 1em; padding-left: 1em;"></i></a>

			<a href="https://www.instagram.com" id="social"><i class="fa fa-instagram" style="padding-right:0.85em; padding-left: 0.85em;"></i></a>

			<a href="https://www.Linkedin.com" id="social"><i class="fa fa-linkedin" style="padding-right:0.85em; padding-left: 0.85em;"></i></a>
			
		<!-- </div> -->


		<form id="fr">

			<img src="../../Images/Pure.png" width="55em" height="55em">	

			<div class="infs">
				<input type="text" name="username" placeholder="Username" required>
			</div>

			<div class="infs">
				<input type="email" name="email" placeholder="E-mail" required>
			</div>

			<div class="infs">
				<input type="password" name="password" placeholder="Password" required>
			</div>

			<div class="btn">
				<input type="submit" name="submit" value="Log In">
			</div>

			<div id="forget">
				<a href="#">Forget Password</a>
			</div>

			<div class="last">
				<label> By creating an account, you agree and accept our <a href="#">Terms</a> and <a href="#">Privacy Policy</a>.</label>
			</div>

		</form>

	</main>

</body>

</html>